<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>

        @font-face {
          font-family: 'Zilla Slab';
          font-weight: 400;
          font-style: normal;
          src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"), url("/fonts/ZillaSlab-Regular.woff") format("woff");
        }
        @font-face {
          font-family: 'Zilla Slab';
          font-weight: 700;
          font-style: normal;
          src: url("/fonts/ZillaSlab-Bold.woff2") format("woff2"), url("/fonts/ZillaSlab-Bold.woff") format("woff");
        }
        @font-face {
          font-family: 'Zilla Slab';
          font-weight: 400;
          font-style: italic;
          src: url("/fonts/ZillaSlab-RegularItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-RegularItalic.woff") format("woff");
        }
        @font-face {
          font-family: 'Zilla Slab';
          font-weight: 700;
          font-style: italic;
          src: url("/fonts/ZillaSlab-BoldItalic.woff2") format("woff2"), url("/fonts/ZillaSlab-BoldItalic.woff") format("woff");
        }
        @font-face {
          font-family: 'Open Sans';
          font-weight: 400;
          font-style: normal;
          src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff");
        }
        @font-face {
          font-family: 'Open Sans';
          font-weight: 700;
          font-style: normal;
          src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff");
        }

        h1 {
            font-size: 5rem;
            font-family: 'Zilla Slab', sans-serif;
        }

        h3 {
            font-size: 2rem;
            font-weight: normal;
        }

        html {
            font-size: 10px;
            font-family: 'Open Sans', sans-serif;
        }

        body {
            background-color: #305067;
            color: #fff;
            width: auto
        }

        #maindiv {
            display:block;
            text-align:center;
            width:100%;
        }

        #step2 {
            display: none;
            width: 100%;
        }

        .backbtn {
            margin: 2rem 2rem auto;
            position: relative;
            width: 8rem;
            height: 8rem;
            background-image: url('/back.png');
            background-repeat: no-repeat;
            background-color: #305067;
            background-size: 8rem 8rem;
            border: none;
        }

        .item {
          display: block;
          margin: 0 auto;
          padding: 0.8rem;
          width: 100%;
          border: none;
          max-width: 40rem;
          background: rgba(255, 255, 255, 0.3);
          border-radius: 0.5rem;
          color: #fff;
          text-align: center;
          text-decoration: none;
          letter-spacing: 0.1rem;
        }

        .item.skip {
          width: 10rem;
        }

        .item.connect {
          width: 10rem;
        }

        .item.ssid {
          height: 5rem;
          margin-bottom: 1rem;
          text-align: left;
        }

        .item.password{
          height: 4rem;
          text-align: left;
          background-color: #c7d0d6;
          color: #666666;
        }
        .item:hover,
        .item:focus,
        .item:active {
          background: #fff;
          background: rgb(255, 255, 255);
          color: #000;
        }

        .item:focus {
          outline: none;
        }

        #wordmark {
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            width: 12.5rem;
        }

        #wifi-icon {
            float: right;
        }

        #text-ssid {
            float: left;
            padding: .5rem 0 0 1rem;
            font-size: large;
        }

    </style>
    <script>
          function selectssid(event, ssid){
              document.getElementById('step1').style.display = 'none';
              document.getElementById('step2').style.display = 'block';
              document.getElementById('selected-network').innerText = ssid;
              document.getElementById('ssid').value = ssid;
              document.getElementById('wordmark').style.display = 'none';
              event.preventDefault();
          }

          function back(event){
              document.getElementById('step1').style.display = 'block';
              document.getElementById('step2').style.display = 'none';
              document.getElementById('wordmark').style.display = 'block';
              event.preventDefault();
          }

          function skip(event){
              event.preventDefault();
              document.getElementById('skip').value = 1;
              document.getElementById("mainform").submit();
          }

          var mask = true;
          function displaypassword(){
              let tbx = document.getElementsByName('password')[0];
              if(mask === true){
                mask = false;
                tbx.setAttribute("type", "text");
              } else {
                mask = true;
                tbx.setAttribute("type", "password");
              }
          };

    </script>
    <title>Mozilla Gateway</title>
  </head>
  <body>
    <form action="/connecting" method="post" id="mainform">
        <div id="step1">
            <div id="maindiv">
                <h1>Welcome</h1>
                <h3>Connect to a WiFi network?</h3><br>
                {{#networks}}
                    <button onclick="selectssid(event, '{{ssid}}')" id="item"
                            class="item ssid"><div id="text-ssid">{{ssid}}</div> <img id='wifi-icon' src='/{{pwd}}'>
                    </button>
                {{/networks}}<br><br>
                <button onclick="skip(event)" class="item skip" id="skip"
                        name="skip" value="1">Skip</button>
            </div>
        </div>
        <div id="step2">
            <input type="button" class="backbtn" onclick="back(event)"><br>
            <div id="maindiv">
                <h3 id="selected-network">{selected network}</h3><br>
                <input type="password" name="password" placeholder="WiFi Password"
                       class="item password"><br>
                <input onclick="displaypassword()" id="showpassword"
                       type="checkbox">
                <label for="showpassword">Show password</label><br><br>
                <button id="connect" class="item connect">Connect</button>
            </div>
        </div>
        <input id="ssid" name="ssid" type="hidden" value="">
        <img id="wordmark" alt="Mozilla IoT" src="/moziot-wordmark.png" />
    </form>
  </body>
</html>
