<html>
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta charset="utf-8"/>
    <style>
        body {
            background-color: #305067;
            color: #fff;
            font-size: 100%;
            width: auto
        }

        #maindiv {
            display:block;
            text-align:center;
            width:100%;
        }

        #step2 {
            display: none;
        }

        #step2 {
            width: 100%;
        }

        .backbtn {
            margin: 20 20 auto;
            position: relative;
            width: 64px;
            height: 64px;
            background-image: url('/back.png');
            background-repeat: no-repeat;
            background-color: #305067;
            background-size: 64px 64px;
            border: none;
        }

        .item {
          display: block;
          margin: 0 auto;
          padding: 8px;
          width: 100%;
          border: none;
          max-width: 400px;
          background: #fff;
          background: rgba(255, 255, 255, 0.3);
          border-radius: 8px;
          color: #fff;
          text-align: center;
          text-decoration: none;
          letter-spacing: 1px;
          transition: all 0.3s ease-out;
        }

        .item.skip {
          width: 15%;
          max-width: 200px;
        }

        .item.ssid {
          height: 50px;
        }

        .item.password{
            height: 40px;
        }
        .item:hover,
        .item:focus,
        .item:active {
          background: #fff;
          background: rgb(255, 255, 255);
          color: #000;
          transition: all 0.5s ease-in;
        }

        .item:focus {
          outline: none;
        }

        #wordmark {
            position: fixed;
            bottom: 2rem;
            left: 2rem;
            width: 7rem;
        }

    </style>
    <script>
          function selectssid(event, ssid){
              document.getElementById('step1').style.display = 'none';
              document.getElementById('step2').style.display = 'block';
              document.getElementById('selected-network').innerText = ssid;
              document.getElementById('ssid').value = ssid;
              event.preventDefault();
          }

          function back(event){
              document.getElementById('step1').style.display = 'block';
              document.getElementById('step2').style.display = 'none';
              event.preventDefault();
          }

          var mask = true;
          function displaypassword(){
              let tbx = document.getElementsByName('password')[0];
              if(mask === true){
                mask = false;
                tbx.setAttribute("type", "text");
              } else {
                mask = true;
                tbx.setAttribute("type", "password");
              }
          };

    </script>
    <title>Mozilla Gateway</title>
  </head>
  <body>
    <form action="/connecting" method="post">
        <div id="step1">
            <div id="maindiv">
                <h1>Welcome</h1>
                <h3>Connect to a WiFi network?</h3><br><br>
                {{#networks}}
                    <button onclick="selectssid(event, '{{ssid}}')" id="item"
                            class="item ssid">{{ssid}} ({{pwd}})</button><br>
                {{/networks}}<br><br>
                <input type="submit" class="item skip" id="skip" name="skip"
                       value="Skip"/>
            </div>
        </div>
        <div id="step2">
            <button class="backbtn" onclick="back(event)"></button><br>
            <div id="maindiv">
                <h3 id="selected-network">{selected network}</h3><br>
                <input type="password" name="password" placeholder="WiFi Password"
                       class="item password"><br>
                <input onclick="displaypassword()" id="showpassword"
                       type="checkbox">
                <label for="showpassword">Show password</label><br><br>
                <button id="submit" class="item skip">Connect</button>
            </div>
        </div>
        <input id="ssid" name="ssid" type="hidden" value="">
        <img id="wordmark" alt="Mozilla IoT" src="/moziot-wordmark.png" />
    </form>
  </body>
</html>
